/* Start Digi */
/* BEGIN Light */
@font-face {
    font-family: 'Open Sans Light';
    src: url('/assets/fonts/open-sans/Light/OpenSans-Light.eot?v=1.1.0');
    src: url('/assets/fonts/open-sans/Light/OpenSans-Light.eot?#iefix&v=1.1.0') format('embedded-opentype'), url('/assets/fonts/open-sans/Light/OpenSans-Light.woff2?v=1.1.0') format('woff2'), url('/assets/fonts/open-sans/Light/OpenSans-Light.woff?v=1.1.0') format('woff'), url('/assets/fonts/open-sans/Light/OpenSans-Light.ttf?v=1.1.0') format('truetype'), url('/assets/fonts/open-sans/Light/OpenSans-Light.svg?v=1.1.0#Light') format('svg');
    font-weight: 300;
    font-style: normal; }
/* END Light */

/* BEGIN Regular */
@font-face {
    font-family: 'Open Sans Regular';
    src: url('/assets/fonts/open-sans/Regular/OpenSans-Regular.eot?v=1.1.0');
    src: url('/assets/fonts/open-sans/Regular/OpenSans-Regular.eot?#iefix&v=1.1.0') format('embedded-opentype'), url('/assets/fonts/open-sans/Regular/OpenSans-Regular.woff2?v=1.1.0') format('woff2'), url('/assets/fonts/open-sans/Regular/OpenSans-Regular.woff?v=1.1.0') format('woff'), url('/assets/fonts/open-sans/Regular/OpenSans-Regular.ttf?v=1.1.0') format('truetype'), url('/assets/fonts/open-sans/Regular/OpenSans-Regular.svg?v=1.1.0#Regular') format('svg');
    font-weight: normal;
    font-style: normal; }
/* END Regular */

/* BEGIN Semibold */
@font-face {
    font-family: 'Open Sans Semi';
    src: url('/assets/fonts/open-sans/Semibold/OpenSans-Semibold.eot?v=1.1.0');
    src: url('/assets/fonts/open-sans/Semibold/OpenSans-Semibold.eot?#iefix&v=1.1.0') format('embedded-opentype'), url('/assets/fonts/open-sans/Semibold/OpenSans-Semibold.woff2?v=1.1.0') format('woff2'), url('/assets/fonts/open-sans/Semibold/OpenSans-Semibold.woff?v=1.1.0') format('woff'), url('/assets/fonts/open-sans/Semibold/OpenSans-Semibold.ttf?v=1.1.0') format('truetype'), url('/assets/fonts/open-sans/Semibold/OpenSans-Semibold.svg?v=1.1.0#Semibold') format('svg');
    font-weight: 600;
    font-style: normal; }
/* END Semibold */

/* BEGIN Bold */
@font-face {
    font-family: 'Open Sans Bold';
    src: url('/assets/fonts/open-sans/Bold/OpenSans-Bold.eot?v=1.1.0');
    src: url('/assets/fonts/open-sans/Bold/OpenSans-Bold.eot?#iefix&v=1.1.0') format('embedded-opentype'), url('/assets/fonts/open-sans/Bold/OpenSans-Bold.woff2?v=1.1.0') format('woff2'), url('/assets/fonts/open-sans/Bold/OpenSans-Bold.woff?v=1.1.0') format('woff'), url('/assets/fonts/open-sans/Bold/OpenSans-Bold.ttf?v=1.1.0') format('truetype'), url('/assets/fonts/open-sans/Bold/OpenSans-Bold.svg?v=1.1.0#Bold') format('svg');
    font-weight: bold;
    font-style: normal; }
/* END Bold */

/* BEGIN Extrabold */
@font-face {
    font-family: 'Open Sans Extra';
    src: url('/assets/fonts/open-sans/ExtraBold/OpenSans-ExtraBold.eot?v=1.1.0');
    src: url('/assets/fonts/open-sans/ExtraBold/OpenSans-ExtraBold.eot?#iefix&v=1.1.0') format('embedded-opentype'), url('/assets/fonts/open-sans/ExtraBold/OpenSans-ExtraBold.woff2?v=1.1.0') format('woff2'), url('/assets/fonts/open-sans/ExtraBold/OpenSans-ExtraBold.woff?v=1.1.0') format('woff'), url('/assets/fonts/open-sans/ExtraBold/OpenSans-ExtraBold.ttf?v=1.1.0') format('truetype'), url('/assets/fonts/open-sans/ExtraBold/OpenSans-ExtraBold.svg?v=1.1.0#ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal; }
/* END Extrabold */

h1 {
    font-family: 'Open Sans Light', arial, sans-serif !important;
    margin: 20px 0 !important;
    display:block;
}

h2, h3 {
    font-family: 'Open Sans Bold', arial, sans-serif !important;
}

h4, h5, h6 {
    font-family: 'Open Sans Light', arial, sans-serif !important;
}

table td {
    padding: 10px !important;
    vertical-align: middle !important;;
}
/* END Digi */
html { position: relative; min-height: 100%; }
body { color: #666; background:#FDFDFD !important; font-family: 'Open Sans', arial,sans-serif; margin:60px 0 52px 0;}
nav.navbar-fixed-top { border-bottom:7px solid #eee !important; }
nav a { color:white; }
nav a:hover { text-decoration:none; color:#e1e1e1;}.navbar-fixed-top { ;}
.navbar-header { width:100%; }
.navbar-header h1 { margin:10px 0 !important; padding:0; font-size:20px; color:white; font-weight:bold; display:inline-block;}
a.offsec-logo { margin:0;}

.panel-heading a { text-decoration:none; color:black;}
.panel-heading h4 { font-size:18px; display:inline-block; padding:0; margin:0;}
.panel-body { background:#F9F9F9;}
button.dropdown-toggle { margin-top:-3px;}

#search-params { margin:0 0 0 5px; padding:0;}
#search-params p { margin:0 0 !important; background:white; padding:0px 10px; border:1px solid #ccc; }


span.ajax-throbber-wrapper { margin:12px 0 0 10px !important; display:inline-block; width:16px; height:11px;}
span.ajax-throbber-wrapper img { display:none; }

span.ajax-throbber-wrapper-form { margin:8px 0 0 10px !important; display:inline-block; width:16px; height:11px;}
span.ajax-throbber-wrapper-form img { display: none; }

.panel-title h4 { display:inline-block; padding:0; margin:0;}
.panel-body form label { font-weight:normal; }

.pagination-container { margin-top:-15px;}
.pagination { margin:0; padding:0;}


table { table-layout:fixed; }
table td { overflow: hidden; }
table th.ip {width:120px; text-align: center; }
table th.banner {}
table th.port {width:60px; text-align: center; }
table th.service {width:80px; text-align: center; }
table th.protocol {width:70px; text-align: center; }

table td.ip { text-align: center; }
table td.banner {}
table td.port { text-align: center; }
table td.service { text-align: center; }
table td.protocol { text-align: center; }
table td { padding: 10px !important; vertical-align: middle !important; }

.ip { font-family: 'Open Sans Semi', arial, sans-serif !important;  font-size:12px !important; }
.port, .service, .protocol { font-family: 'Open Sans Semi', arial, sans-serif !important; }
img#ajax-loader-pagination { margin:10px 15px 0 0; display:none;}

.container.errorPage { min-height:540px; }
.container.errorPage p { font-size: inherit !important;}
.container.errorPage .jumbotron { margin:0 0 10px 0!important; padding-top:10px !important;}
.container.errorPage .jumbotron h1 { margin:0 !important;}
pre.shell { background:black; color:white; }
.panel-default.margin { margin-left:5px; margin-right:5px;}
p.import-help { margin-right:5px; font-size:0.9em;}
